*{
    margin: 0%;
    padding: 0%;
    background-color: #acacac ;
}
body{
    margin: 0 auto;
    width: 100%;
}
.slider{
    position: relative;
    overflow: hidden;
}
.slider figure div{
    float: left;
    width: 16%;
}
.slider figure img{
    float: left;
    width: 100%;
}
.slider figure{
    position: relative;
    width: 625%;
    animation: slideShow 25s infinite ;
}
@keyframes slideShow{
    0%{
        left: 0%;
    }
    10%{
        left: 0%;
    }
    12%{
        left: -100%;
    }
    22%{
        left: -100%;
    }
    24%{
        left: -200%;
    }
    34%{
        left: -200%;
    }
    36%{
        left: -300%;
    }
    46%{
        left: -300%;
    }
    48%{
        left: -400%;
    }
    58%{
        left: -400%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    72%{
        left: -200%;
    }
    82%{
        left: -200%;
    }
    84%{
        left: -100%;
    }
    94%{
        left: -100%;
    }
    96%{
        left: 0%;
    }
}
.list-section{
    margin: 5%;
}
h1{
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 29, 29);
    font-size: 300%;
}
.price-list{
    position: relative;
    padding: 9%;
}
  .price-list {
    display: flex;
  }
  .list-content {
    flex: 33.33%;
    padding: 15px;
  }
  h5{
      margin: 5%;
      text-align: center;
      font-size: 200%;
      font-family: 'Times New Roman', Times, serif;
  }
  p{
      text-align: center; 
  }
  h2{
      padding: 0%;
      left: 40%;;
      margin: 0%;
  }